sudo: require
language: generic
compiler: gcc
dist: trusty

before_install:
  # C++14
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install: 
  # C++14
  - sudo apt-get install -qq g++-5

script: 
  - cmake -DCMAKE_INSTALL_PREFIX=/home/travis/build/richelbilderbeek
  - make
  # Add $HOME/bpp-core/src to the path, so the tests can find the shared objects
  # Sadly, this fails
  # - PATH=$PATH:/home/travis/build/richelbilderbeek/bpp-core/src;export PATH
  # - ls /home/travis/build/richelbilderbeek/bpp-core/src
  # Copy the .so to the test folder, so the tests can find it 
  - cp src/libbpp-core.* test/
  # Run all tests
  - ./test/test_bfgs
  - ./test/test_derivative1
  - ./test/test_distributions
  - ./test/test_downhill
  - ./test/test_sample
  - ./test/test_text_tools
  - ./test/test_treeGraphObs
  - ./test/test_simplex
  - ./test/test_stats
  - ./test/test_reparametrization
  - ./test/test_range
  - ./test/test_powell
  - ./test/test_numconstants
  - ./test/test_mva
  - ./test/test_matrices
  - ./test/test_gradient
  - ./test/test_eigen
  - ./test/test_graphObs
